#footercontain{
    display:inline-flex;
    justify-content: space-between; /*pour mettre en bloc le footer ansi que display:flex*/
    flex-wrap: wrap;
    cursor:pointer;
	width: 90%;
	margin:auto;

}
.footer-contain{

	box-sizing: content-box;
	position:relative;
	padding:25px 30px;
}

.footer-container .footer-column{
	position:relative;
	box-sizing:border-box;
	float:left;
	width: 30%;
	padding-right: 6%;
	display:none;
	color:#008000;
}
.footer-contain .footer-column .footer-column-header{
	box-sizing:content-box;
	line-height: 16px;
	font-weight: bold;   /*font-weight l'epaisseur du texte*/
	cursor:pointer;

}
.footer-column li {
	display:table;
}
.footer-container .footer-column li:hover {
	color:green;

}
 a{
 	text-decoration:none;
 	color: khaki;
 }


   footer{
   	  background-color: linear-gradient(rgba(2,164,9,0.55), rgba(9,245,18,0.55));
   	  font-style: italic;
   	  padding-bottom: 45px;

    }
    .main li{

    display:inline;
    word-spacing: 46px;
    margin-left:80px;
    padding:10px;
    border-radius: 15px;
    padding-right: 60px;
    margin-right: 50px;
    
    }
    .footer-column-header div {
    	display:inline;
    }
h4{
text-align: center;
}

li:hover{
	color:red;
}